<template>
    <v-card class="elevation-12">
        <v-toolbar dark color="primary">
            <v-toolbar-title>Регистрация</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-card-text>
            <v-form @submit.prevent="register">

                <v-text-field id="name" prepend-icon="person" name="login" label="Имя" type="text" v-model="name"
                              placeholder="Имя"
                              required autofocus></v-text-field>
                <v-text-field id="email" prepend-icon="email" name="email" label="Почта" type="email" v-model="email"
                              placeholder="Электронная почта" title="Электронная почта" required></v-text-field>
                <v-text-field id="password" prepend-icon="lock" name="password" label="Пароль" type="password"
                              v-model="password"
                              placeholder="Пароль" title="Пароль" required></v-text-field>
                <v-text-field id="password-confirm" prepend-icon="lock" name="password" label="Подтверждение пароля"
                              type="password" v-model="password_confirmation" placeholder="Подтверждение пароля"
                              title="Подтверждение пароля" required></v-text-field>
            </v-form>
        </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" @click="register">Зарегистрироваться</v-btn>
        </v-card-actions>
    </v-card>

</template>
<script>
  export default {
    name: 'register-form',
    data() {
      return {
        name: "",
        email: "",
        password: "",
        password_confirmation: "",
        is_admin: true,

      }
    },
    props: {
    },
    computed: {
    },
    methods: {
      register: function () {
        let data = {
          name: this.name,
          email: this.email,
          password: this.password,
          is_admin: this.is_admin
        }
        this.$store.dispatch('register', data)
          .then(() => {
              this.$router.push('/')
          })
          .catch(err => console.log(err))
      }
    }
  }
</script>

<style scoped>
    /*@import "../assets/auth.css";*/
</style>
